<?xml version="1.0"?>
<!--
/**
 * @category   Knolseed
 * @package    Knolseed
 * @author     KnolseedTech
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
   <modules>
        <Knolseed_Engage>
            <version>0.1.0</version>
        </Knolseed_Engage>
    </modules>
    <default>
        <engage_options>
            <google>
                 <google_content><![CDATA[  var _gaq = [], __bc = [], push = Array.prototype.push;
                         _gaq.push = function () {
                         var i = 0, max = arguments.length, arg;
                         while (i < max) {
                           arg = arguments[i++]; push.call(_gaq, arg); push.call(__bc, arg);
                         }
                     };
                     (function() {
                         var bc = document.createElement('script'); bc.type='text/javascript'; bc.async=true;
                         bc.src = 'http://ers.knolseed.com:1234/embed.js';
                         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(bc, s);
                     })();
                </script>

                <script>
                    __bc.push(["_setCustomerId", "customer_id"]);]]>
                </google_content>
          </google>
        </engage_options>
    </default>
    <default>
        <upload_options>
            <upload>
                 <upload_info>1</upload_info>
          </upload>
        </upload_options>
    </default>
    <default>
        <engage_options>
            <product>
                 <cron_time>03:00</cron_time>
          </product>
        </engage_options>
    </default>
    <default>
        <engage_options>
            <customer>
                 <cron_time>03:00</cron_time>
          </customer>
        </engage_options>
    </default>
    <frontend>
        <routers>
            <engage>
                <use>standard</use>
                <args>
                    <module>Knolseed_Engage</module>
                    <frontName>engage</frontName>
                </args>
            </engage>
        </routers>
        <layout>
            <updates>
                <engage>
                    <file>engage.xml</file>
                </engage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<engage>
				<use>admin</use>
				<args>
					<module>Knolseed_Engage</module>
					<frontName>engage</frontName>
				</args>
			</engage>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Knolseed_Engage>
							<title>Engage Module</title>
							<sort_order>10</sort_order>
						</Knolseed_Engage>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <engage_options>
                                            <title>Store Hello World Module Section</title>
                                        </engage_options>
                                        <upload_options>
                                            <title>Upload Data Module Section</title>
                                        </upload_options>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<engage>
					<file>engage.xml</file>
				</engage>
			</updates>
		</layout>

    </adminhtml>   
    <global>
        <models>
            <engage>
                <class>Knolseed_Engage_Model</class>
                <resourceModel>engage_mysql4</resourceModel>
            </engage>
            <engage_mysql4>
                <class>Knolseed_Engage_Model_Mysql4</class>
                <entities>
                    <engage>
                        <table>kf_cron_process</table>
                    </engage>
                </entities>
            </engage_mysql4>
        </models>
        <resources>
            <engage_setup>
                <setup>
                    <module>Knolseed_Engage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </engage_setup>
            <engage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </engage_write>
            <engage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </engage_read>
        </resources>
        <blocks>
            <engage>
                <class>Knolseed_Engage_Block</class>
            </engage>
            <googleanalytics>
                <rewrite>
                    <ga>Knolseed_Engage_Block_Ga</ga>
                </rewrite>
            </googleanalytics>
        </blocks>
        <helpers>
            <engage>
                <class>Knolseed_Engage_Helper</class>
            </engage>
        </helpers>
        <events>
            <admin_system_config_changed_section_upload_options>
                <observers>
                    <engage>
                        <type>singleton</type>
                        <class>Knolseed_Engage_Model_Observer</class>
                        <method>setUploadDataTimeframe</method>
                    </engage>
                </observers>
            </admin_system_config_changed_section_upload_options>
            <admin_system_config_changed_section_engage_options>
                <observers>
                    <engage>
                        <type>singleton</type>
                        <class>Knolseed_Engage_Model_Observer</class>
                        <method>removeUserPass</method>
                    </engage>
                </observers>
            </admin_system_config_changed_section_engage_options>
        </events>
    </global>
    <crontab>
        <jobs>
            <knolseed_engage>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>engage/observer::setScript</model>
                </run>
            </knolseed_engage>
        </jobs>
    </crontab>
</config>
