<!--
/**
 * @category   Knolseed
 * @package    Knolseed
 * @author     KnolseedTech
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <tabs>
        <engage translate="label" module="engage">
            <label>KnolSeed Configuration</label>
            <sort_order>99999</sort_order>
        </engage>
    </tabs> 
       <sections>
        <engage_options translate="label" module="engage">
            <label>Configure Plugin</label>
            <tab>engage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>  
            <groups>
                 <aws translate="label">
                    <label>KnolSeed Connect</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>  
                    <comment><![CDATA[<div id="default-label-credentials" class="default-label">Enter your KnolSeed credentials to enable this plugin. To create a new KnolSeed account, click <a href="http://www.knolseed.com" target="_blank">here</a>.</div>]]></comment>
                     <fields>
                     	<username>
							<label>Username</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</username>
						<password>
							<label>Password</label>
							<frontend_type>password</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>                    
						</password>
						<testconnection translate="label"> 
							<label></label>
							<frontend_type>button</frontend_type>
							<frontend_model>engage/buttontestconnect</frontend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</testconnection>
						  
					</fields>               
                </aws>
            </groups> 
            <groups>
                 <product translate="label">
                    <label>Product Catalog Sync</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>  
                     <fields>
                     	<cron_time>
						  	<label>Sync Time</label>
							<frontend_type>select</frontend_type>
							<source_model>knolseed_engage_model_crontime</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<tooltip>KnolSeed will sync your Product Catalog everyday at this time</tooltip>
							<comment>Choose a time that has minimum performance impact on your website. Eg, if your website traffic is lowest at 3AM, then choose 3AM here.</comment>
						</cron_time>
					</fields>               
                </product>
            </groups> 
            
            <groups>
                 <customer translate="label">
                    <label>Customer Data Sync</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>  
                     <fields>
						<cron_time>
						  	<label>Sync Time</label>
							<frontend_type>select</frontend_type>
							<source_model>knolseed_engage_model_crontime</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store> 
							<tooltip>KnolSeed will sync your Customer Attributes everyday at this time</tooltip>
							<comment>Choose a time that has minimum performance impact on your website. Eg, if your website traffic is lowest at 3AM, then choose 3AM here.</comment>
						</cron_time>
					</fields>               
                </customer>
            </groups>  
            
            <groups>
                 <google translate="label">
                    <label>KnolSeed Analytics</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<div id="gastatus" class="gastatus"></div>]]></comment>
                     <fields>
                     	<google_content>
							<label>KnolSeed Analytics Content</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<tooltip>KnolSeed will embed this snippet in your product webpages. This will allow you to segment your audience based on website browsing and buying behaviour.</tooltip>             
						</google_content>
					</fields>               
                </google>
            </groups>  
             
                             
        </engage_options>
        <upload_options translate="label" module="engage">
            <label>Advanced Customer Segmentation</label>
            <tab>engage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>  
            <groups>
                 <upload translate="label">
                    <label>Advanced customer segmentation can be enabled by doing a one-time data sync with KnolSeed
                    </label>
                    <frontend_type>select</frontend_type>
					<source_model>knolseed_engage_model_uploadinfo</source_model>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>  
                     <fields>
                     	<upload_info>
						  	<label>Data to sync</label>
							<frontend_type>radios</frontend_type>
							<source_model>knolseed_engage_model_uploadinfo</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<tooltip>All the selected data (Transactions/Weblogs) will be synced with KnolSeed.</tooltip>
							<comment><![CDATA[<style>#row_upload_options_upload_upload_info td.value {width:410px !important;}</style>]]></comment>           
						</upload_info> 
						<timeframe>
				           <label>Timeframe for data sync</label>
				           <frontend_type>select</frontend_type>
				           <source_model>knolseed_engage_model_timeframe</source_model>
				           <sort_order>20</sort_order>
				           <show_in_default>1</show_in_default>
				           <show_in_website>1</show_in_website>
				           <show_in_store>1</show_in_store>
				           <tooltip>This is the time-window of data that will be synced with KnolSeed.</tooltip>
				         </timeframe> 
				         <time>
				           <label>Start data sync at</label>
				           <frontend_type>select</frontend_type>
				           <source_model>knolseed_engage_model_time</source_model>
				           <sort_order>21</sort_order>
				           <show_in_default>1</show_in_default>
				           <show_in_website>1</show_in_website>
				           <show_in_store>1</show_in_store>
				           <tooltip>KnolSeed will perform a one-time sync of your Transactions data at this time.</tooltip>
				           <comment>Choose a time that has minimum performance impact on your website. Eg, if your website traffic is lowest at 3AM, then choose 3AM here.</comment>
				         </time> 
					</fields>               
                </upload>
            </groups> 
            
        </upload_options>
    </sections>  
</config>

